*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body,html {
  margin:0;
	padding:0;
	height:100%;
  background-color: #C4BF66;
}

.navbar {
  background-color: #3F433F;
}

.footer {
  position: absolute;
  width: 100%;
  background-color: #3F433F;
  padding-top: 20px;
  padding-bottom: 20px;
}

#logo {
  min-width: 95px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#imagemFooter {
  max-width : 70px;
}

.carousel-inner img {
  margin: auto;
}

.font-white {
  color: white;
}

h3 {
  font-family: cursive;
  color: white;
  text-shadow: 2px 2px black;
}
